{% extends "base.html" %}
{% block content %}
<div>
    <div class="container mt-5">
        <div class="d-flex justify-content-center">
            <div class="d-flex flex-column" style="max-width: 1500px;">
                <img class="image" src="/static/assets/1.jpg">
                <p class="text-center">Сервис доставки еды</p>
                <a class="btn btn-info mt-1" href="/restaurant">Рестораны</a>
                <a class="btn btn-info mt-1" href="/menus">Меню</a>
                <a class="btn btn-info mt-1" href="/order">Заказы</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}